<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nest.renting.web.app.mapper.LeaseTermMapper">

    <select id="selectLeaseTermById" resultType="com.nest.renting.model.entity.LeaseTerm">
        select id,
               month_count,
               unit
        from lease_term
        where id = #{id}
    </select>

</mapper>
